/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 47, ../sass/default.sass */
html {
  min-height: 100%;
  height: auto !important;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

/* line 55, ../sass/default.sass */
h1 {
  font-size: 2.5em;
}

/* line 58, ../sass/default.sass */
h2 {
  font-size: 2em;
  padding: 0.2em;
}

/* line 62, ../sass/default.sass */
h3 {
  font-size: 1.35em;
  padding: 0.2em;
}

/* line 66, ../sass/default.sass */
h4 {
  font-size: 0.85em;
  padding: 0.2em;
}

/* line 70, ../sass/default.sass */
a {
  color: #337ab7;
  text-decoration: none;
}

/* line 74, ../sass/default.sass */
p {
  padding: 0.2em 0em;
}

/* line 77, ../sass/default.sass */
body {
  min-height: 100%;
  margin: 0 0 40px;
  background-color: black;
  background-color: #201308;
  background-image: linear-gradient(30deg, #1e2416 12%, transparent 12.5%, transparent 87%, #1e2416 87.5%, #1e2416), linear-gradient(150deg, #1e2416 12%, transparent 12.5%, transparent 87%, #1e2416 87.5%, #1e2416), linear-gradient(30deg, #1e2416 12%, transparent 12.5%, transparent 87%, #1e2416 87.5%, #1e2416), linear-gradient(150deg, #1e2416 12%, transparent 12.5%, transparent 87%, #1e2416 87.5%, #1e2416), linear-gradient(60deg, #26190c 25%, transparent 25.5%, transparent 75%, #26190c 75%, #26190c), linear-gradient(60deg, #26190c 25%, transparent 25.5%, transparent 75%, #26190c 75%, #26190c);
  background-size: 120px 210px;
  background-position: 0 0, 0 0, 60px 105px, 60px 105px, 0 0, 60px 105px;
}

/* line 83, ../sass/default.sass */
header {
  background-color: #222;
  color: #9d9d9d;
  height: 4.5em;
  border-bottom: 1px solid #9d9d9d;
}
/* line 87, ../sass/default.sass */
header h1 {
  padding: 0.5em;
}

/* line 90, ../sass/default.sass */
#main-container {
  height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px;
}

/* line 95, ../sass/default.sass */
footer {
  background-color: #222;
  color: #9d9d9d;
  font-style: italic;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #9d9d9d;
}

/* line 105, ../sass/default.sass */
.info {
  font-weight: bold;
}

/* line 108, ../sass/default.sass */
.Online {
  color: #093;
}

/* line 111, ../sass/default.sass */
.Offline {
  color: #dd0909;
}

/* line 114, ../sass/default.sass */
.panel {
  background-color: #222;
  color: #9d9d9d;
  margin: 3em 12em;
  padding: 10px 20px 10px;
  border: 8px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 10px;
}

/* line 122, ../sass/default.sass */
.players-list {
  font-style: italic;
}

/* line 125, ../sass/default.sass */
.pulldown-toggle {
  font-style: italic;
  padding-top: 1em;
  cursor: pointer;
}

/* line 130, ../sass/default.sass */
.pulldown {
  display: none;
}

/* line 133, ../sass/default.sass */
.pulldown-content {
  border: 1px solid #9d9d9d;
  padding: 1em 4em;
  margin: 10px 0px;
  text-align: left;
  line-height: 1.5em;
}
/* line 139, ../sass/default.sass */
.pulldown-content h3 {
  padding-top: 1em;
}
/* line 141, ../sass/default.sass */
.pulldown-content ol {
  list-style-type: lower-alpha;
  padding-left: 2em;
}
/* line 144, ../sass/default.sass */
.pulldown-content em {
  font-weight: bold;
}

/* line 147, ../sass/default.sass */
.pulldown-close {
  cursor: pointer;
}

/* line 150, ../sass/default.sass */
code {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0em 0.125em;
  background-color: #2f2f2f;
  border: 1px solid #555555;
}
