/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.sass */
html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

/* line 27, ../sass/screen.sass */
h1 {
  font-size: 2.5em;
}

/* line 31, ../sass/screen.sass */
h2 {
  font-size: 2em;
  padding: 0.2em;
}

/* line 35, ../sass/screen.sass */
h3 {
  font-size: 1.35em;
  padding: 0.2em;
}

/* line 39, ../sass/screen.sass */
h4 {
  font-size: 0.85em;
  padding: 0.2em;
}

/* line 43, ../sass/screen.sass */
a {
  color: #337ab7;
  text-decoration: none;
}

/* line 47, ../sass/screen.sass */
p {
  padding: 0.2em 0em;
}

/* line 50, ../sass/screen.sass */
body {
  position: relative;
  margin: 0;
  height: 100%;
  background-color: black;
}

/* line 59, ../sass/screen.sass */
header {
  background-color: #222;
  color: #9d9d9d;
  height: 4.5em;
  border-bottom: 1px solid #9d9d9d;
}
/* line 63, ../sass/screen.sass */
header h1 {
  padding: 0.5em;
}

/* line 66, ../sass/screen.sass */
#main-container {
  margin: 0 auto;
  padding: 3em;
}

/* line 70, ../sass/screen.sass */
footer {
  background-color: #222;
  color: #9d9d9d;
  font-style: italic;
  border-top: 1px solid #9d9d9d;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/* line 80, ../sass/screen.sass */
.panel {
  background-color: #222;
  color: #9d9d9d;
  padding: 10px 20px 10px;
  border: 4px solid #080808;
  border-radius: 10px;
}

/* line 86, ../sass/screen.sass */
.pulldown-toggle {
  font-style: italic;
  padding-top: 1em;
}

/* line 90, ../sass/screen.sass */
.pulldown {
  display: none;
}

/* line 93, ../sass/screen.sass */
.pulldown-content {
  border: 1px solid #9d9d9d;
  padding: 10px;
  margin: 10px 0px;
}
