
@import compass/reset
@import "compass/css3/transition"


// MEDIA QUERY WIDTHS
// (mobile-first design; all default CSS is for smallest screens)
$bp-mama-bear: "(min-width : 30em)"
$bp-papa-bear: "(min-width : 60em)"

// FONTS
$default-font-face: "Helvetica Neue", Helvetica, Arial, sans-serif
$code-font-face: "Lucida Console", Monaco, monospace
$default-font-color: #9d9d9d
$online-font-color: #093
$offline-font-color: #dd0909

// BACKGROUNDS
$default-bg-color: #222

// BORDERS
$light-border-color: #9d9d9d
$dark-border-color: #080808
$transparent-border-color: rgba(0, 0, 0, 0.3)

// ELEMENT SPECIFICS
$header-height: 4.5em
$footer-height: 3em
$footer-border-width: 1px
$default-link-color: #337ab7

// BACKGROUND PATTERN
// piecemeal vars for =bg-cubes readability
$cube-pos1: 60px
$cube-pos2: 105px
$cube-color1: rgb(30, 36, 22) // rgba(29, 29, 29, 1)
$cube-color2: rgb(38, 25, 12) // rgba(24, 24, 24, 1)
$cube-color3: rgb(32, 19, 8) // rgba(20, 20, 20, 1)
// horizontal diamonds
$cubes1: linear-gradient(30deg, $cube-color1 12%, transparent 12.5%, transparent 87%, $cube-color1 87.5%, $cube-color1)
$cubes2: linear-gradient(150deg, $cube-color1 12%, transparent 12.5%, transparent 87%, $cube-color1 87.5%, $cube-color1)
$cubes3: linear-gradient(30deg, $cube-color1 12%, transparent 12.5%, transparent 87%, $cube-color1 87.5%, $cube-color1)
$cubes4: linear-gradient(150deg, $cube-color1 12%, transparent 12.5%, transparent 87%, $cube-color1 87.5%, $cube-color1)
// top-left to bottom-right diamonds
$cubes5: linear-gradient(60deg, $cube-color2 25%, transparent 25.5%, transparent 75%, $cube-color2 75%, $cube-color2)
$cubes6: linear-gradient(60deg, $cube-color2 25%, transparent 25.5%, transparent 75%, $cube-color2 75%, $cube-color2)


=bg-cubes
  background-color: $cube-color3 // top-right to bottom-left diamonds
  background-image: $cubes1, $cubes2, $cubes3, $cubes4, $cubes5, $cubes6
  background-size: 2*$cube-pos1 2*$cube-pos2
  background-position: 0 0, 0 0, $cube-pos1 $cube-pos2, $cube-pos1 $cube-pos2, 0 0, $cube-pos1 $cube-pos2

=default-theme
  background-color: $default-bg-color
  color: $default-font-color

=inverted-theme
  background-color: $default-font-color
  color: $default-bg-color


// ################################
// DEFAULT STYLES
//  - for small screens
// ################################
.hidden
  display: none

html
  min-height: 100% // Needed for sticky footer
  position: relative // Needed for sticky footer
  box-sizing: border-box
  font-family: $default-font-face
  text-align: center

h1
  font-size: 2.5em

h2
  font-size: 2em
  padding: 0.2em

h3
  font-size: 1.35em
  padding: 0.2em

h4
  font-size: 0.85em
  padding: 0.2em

a
  color: $default-link-color
  text-decoration: none

p
  padding: 0.2em 0em

body
  margin: 0 0 $footer-height // Needed for sticky footer
  background-color: darken($default-bg-color, 20%)

code
  font-family: $code-font-face
  padding: 0em 0.125em
  background-color: lighten($default-bg-color, 5%)
  border: 1px solid lighten($default-bg-color, 20%)

header
  background-color: darken($default-bg-color, 3%)
  color: $default-font-color
  border-bottom: 1px solid $light-border-color
  h1
    padding: 0.5em

.message-panel
  +inverted-theme
  padding: 1em
  text-align: left
  line-height: 1.25em
  h3, h4
    font-weight: bold
  em
    font-style: italic
  strong
    font-weight: bold
  code
    background-color: lighten($default-font-color, 9%)
    border: 1px solid lighten($default-font-color, 23%)

.info
  font-weight: bold

.Online
  color: $online-font-color

.Offline
  color: $offline-font-color

.panel
  +default-theme

.players-summary
  margin: 1em 0

.players-list
  font-style: italic
  margin-bottom: 1em

hr
  border-color: $light-border-color
  width: 16em

.pulldown-toggle
  font-style: italic
  padding-bottom: 1em

.pulldown-close
  padding: 0.5em 0
  padding-bottom: 1em

.pulldown-toggle:hover,
.pulldown-close:hover
  cursor: pointer
  background-color: lighten($default-bg-color, 5%)

.pulldown
  display: none

.pulldown-content
  border: 1px solid $light-border-color
  padding: 1em 1em
  margin: 10px 0px
  text-align: left
  line-height: 1.5em
  h3
    padding-top: 1em
  ol
    list-style-type: lower-alpha
    padding-left: 2em
  em
    font-weight: bold

footer
  position: absolute // Needed for sticky footer
  left: 0 // Needed for sticky footer
  bottom: 0 // Needed for sticky footer
  height: $footer-height // Needed for sticky footer
  width: 100% // Needed for sticky footer
  background-color: darken($default-bg-color, 3%)
  color: $default-font-color
  font-style: italic
  border-top: 1px solid $light-border-color


// ################################
// for medium screens
// ################################
@media #{$bp-mama-bear}
  body
    +bg-cubes
    margin-bottom: $footer-height + 2em

  .message-panel
    border-radius: 10px
    margin: 1em 1em 0em

  .panel
    padding: 10px 20px 10px
    margin: 3em 3em
    border: 8px solid $transparent-border-color
    background-clip: padding-box
    border-radius: 10px

  .pulldown-toggle,
  .pulldown-close
    border-radius: 4px


// ################################
// for large screens
// ################################
@media #{$bp-papa-bear}
  .panel
    margin: 3em 12em