
@import compass/reset
@import "compass/css3/transition"


$default-font-face: "Helvetica Neue",Helvetica,Arial,sans-serif
$default-bg-color: #222
$default-font-color: #9d9d9d
$light-border-color: #9d9d9d
$dark-border-color: #080808
$header-height: 4.5em
$footer-height: 3em
$default-link-color: #337ab7


=default-theme
  background-color: $default-bg-color
  color: $default-font-color


html
  height: 100%
  box-sizing: border-box
  font-family: $default-font-face
  text-align: center

h1
  font-size: 2.5em
  // padding: 0.2em

h2
  font-size: 2em
  padding: 0.2em

h3
  font-size: 1.35em
  padding: 0.2em

h4
  font-size: 0.85em
  padding: 0.2em

a
  color: $default-link-color
  text-decoration: none

p
  padding: 0.2em 0em

body
  // padding-top: $header-height
  // padding-bottom: $footer-height
  position: relative
  margin: 0
  height: 100%
  // padding-bottom: 6rem
  background-color: darken($default-bg-color, 20%)

header
  +default-theme
  height: $header-height
  border-bottom: 1px solid $light-border-color
  h1
    padding: 0.5em

#main-container
  margin: 0 auto
  padding: 3em

footer
  +default-theme
  font-style: italic
  border-top: 1px solid $light-border-color
  position: absolute
  right: 0
  bottom: 0
  left: 0
  padding: 1rem

.panel
  +default-theme
  padding: 10px 20px 10px
  border: 4px solid $dark-border-color
  border-radius: 10px

.pulldown-toggle
  font-style: italic
  padding-top: 1em

.pulldown
  display: none

.pulldown-content
  border: 1px solid $light-border-color
  padding: 10px
  margin: 10px 0px