<!DOCTYPE HTML>
<html>
<head>
  <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <title>TPants MC</title>
</head>
<body>
  <header>
    <h1>TPants MC Server Status</h1>
  </header>

  <div id="content">
    <div class="panel">
      <h2>Server Status</h2>
      <p>MOTD</p>
      <p>Status</p>
      <p>IP Address</p>
    </div>
  </div>

  <footer>
    <h4>Powered by <a href="flask.pocoo.org">Flask</a> and <a href="github.com/Dinnerbone/mcstatus">mcstatus</a>.</h4>
    <h4>&copy; 2016 Tanner Lake</h4>
  </footer>
</body>
</html>