<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/static/css/default.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <title>TPants MC</title>
</head>
<body>
  <div id="main-container">

    <header>
      <h1>TPants MC Server Status</h1>
    </header>

  {% if servers %}
  {% for server in servers %}
    <div class="panel">
      <h2>{{ server.motd }}</h2>
      <p>Modpack Version: <span class="info">{{ server.modpack_version }}</span></p>
      {% if server.jar_version %}
      <p>Jarfile Version: {{ server.jar_version }}</p>
      {% endif %}
      <p>Location: <span class="info">{{ server.address }}:{{ server.port }}</span></p>
      <p>Status: <span class="info {{ server.status }}">{{ server.status }}</span></p>
      {% if server.players %}
      <p>{{ server.players.online }}/{{ server.players.max }} Players</p>
      <ul class="players-list">
        {% for player in server.players.names %}
          <li>{{ player }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="pulldown-toggle">
        <h3>Client Configuration:</h3>
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="pulldown">
        <div class="pulldown-content">
          {{ server.client_config|markdown }}
        </div>
        <div class="pulldown-close">
          <i class="fa fa-chevron-up"></i>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="panel">
      <h2>Woops</h2>
      <p>We don't seem to have any servers up for monitoring right now.</p>
    </div>
    {% endif %}

  </div>

  <footer>
    <h4>Powered by <a href="http://flask.pocoo.org">Flask</a> and <a href="http://github.com/Dinnerbone/mcstatus">mcstatus</a>.</h4>
    <h4>&copy; 2016 Tanner Lake</h4>
  </footer>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script>
    $(".pulldown-toggle").click(function () {
      var pulldown = $(this).next('.pulldown');
      var chevron = $(this).children("i");

      if (pulldown.is(':visible')) {
        pulldown.slideUp();
        chevron.removeClass("fa-chevron-up").addClass("fa-chevron-down");
      } else {
        pulldown.slideDown();
        chevron.removeClass("fa-chevron-down").addClass("fa-chevron-up");
      }
    });

    $(".pulldown-close").click(function () {
      var pulldown = $(this).parent(".pulldown");
      var chevron = $(this).parent().prev(".pulldown-toggle").children("i");

      pulldown.slideUp();
      chevron.removeClass("fa-chevron-up").addClass("fa-chevron-down");

    });
  </script>
</body>
</html>